html {
  background-color: #f9f9f9;
}

#banner {
  border-top: 3px solid black;
  background-image: url(../images/international-day-bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-bottom: 4em;
  text-shadow: 1px 1px 10px #333333;
}

#banner img {
  display: block;
  margin: 0 auto;
  margin-right: auto;
  width: 20%;
}

#banner h3 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

#banner time {
  font-size: 1.5em;
  font-weight: 100;
}

.social-icon {
  margin: 0 0 -6px 15px;
}

.side-nav .social-icon {
  float: right;
  padding: 17px 2px 0 0;
}

.header {
  line-height: 150%;
}

.card .card-title {
  margin-top: 0;
  line-height: 28px !important;
  min-height: 2.5em;
}

.card .chapter-logo {
  height: 100px;
}

.rollcall {
  margin: 0;
  list-style: inherit;
}

.rollcall li {
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: default;
  margin: 2px 0;
  padding: 5px;
  transition: all .25s ease-in-out;
}

.rollcall li:hover {
  background: #fdd835;
  border-color: orange;
  letter-spacing: 1px;
}
